{% extends "dappx/base.html" %}
{% block body_block %}

    <h1>Welcome to the Needify!</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2><br><br>
      <!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:130px">
  <h5 class="w3-bar-item">Philantropy</h5>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Food')">Food</button>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Shelter')">Shelter</button>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Funds')">Funds</button>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Clothes')">Clothes</button>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Events')">Events</button>
</div>

<div style="margin-left:130px">
  <div class="w3-padding"></div>

  <div id="Food" class="w3-container city" style="display:none">
    <h2>Poverty alleviation and sustainable livelihood</h2>
    <p>Almost one in four Africans is hungry: At 23.2%, the population of Africa has the highest rate of under-nourished people. A total of 233 million people is affected by hunger and every third child in Africa suffers from the effects of malnutrition; (e.g. Under growth inhibitions or mental underdevelopment).

According to the World Bank estimates, 47 to 50% of the total population live below the poverty level. This region is thus the poorest region in the world.</p><br><br>

<h2>As more go hungry and malnutrition persists, achieving Zero Hunger by 2030 in doubt, UN report warns</h2>
    <p>Rome – More people are going hungry, an annual study by the United Nations has found. Tens of millions have joined the ranks of the chronically undernourished over the past five years, and countries around the world continue to struggle with multiple forms of malnutrition.</p><br><br>


  </div>

  <div id="Shelter" class="w3-container city" style="display:none">
    <h2>Shelter</h2>
    <p>Slum to Societies</p> 
    <p>housing the poor has matured through the implementation of three major resettlement projects in Pune and Sangli-Miraj. These projects demonstrate a workable alternative to the typical slum rehabilitation projects that are prioritised by the government which: fail to take cognisance of ground realities; do not view the issue of housing for the poor at a city-wide level; and which are implemented in an intrusive and opaque manner.</p><br><br>

<h2>Research and Poverty Mapping</h2>
    <p>In India there is currently a lack of adequate data to guide urban planning; this lack of up-to-date information leads to ineffective planning policies. In response to this predicament, we create and maintain poverty maps of peri-urban areas which guide our needs-based interventions. We carry out research to facilitate better understanding of the needs of the urban poor, and design of effective solutions to meet those needs..</p><br><br>


  </div>
  

  <div id="Funds" class="w3-container city" style="display:none">
    <h2>Funds</h2>
    <h2>The Funding Challenge 1</h2>
    <p>Despite the vast differences among the
worlds non-governmental organizations
(NGOs), most share a common dilemma:
Lack of funds limits the quantity and/
or quality of the important work they
do. Unlimited needs chasing limited
resources is a fundamental fact of
economic life in rich countries and
in poor countries. It affects large
international organizations, such as
the United Nations, down to the
smallest local NGOs. </p><br><br>

<h2>NGO Managers</h2>
    <p>To a certain extent, all donors have
their own agenda, i.e., their own views
as to which problems are important
and the best intervention strategies
to address these problems. NGO
managers may be compelled to
follow the money and allow donors
to dictate the scope and direction of
their activities, or else receive no
funds at all. As the old saying goes,
beggars cant be choosers.</p><br><br>


  </div>

<div id="Clothes" class="w3-container city" style="display:none">
    <h2>Clothes</h2>
    <h2>HELP OUR SCHOOL BUILDING PROJECT IN AFRICA</h2>
    <p>Clothe The Naked has secured a 2-acre land for the construction of a school for  the children of ‘Dwen Daama’ – deprived rural community in the central region of Ghana which has no school.

Our CTN School shall provide a tuition-free education with free uniforms, free stationary, free lunch and all other needed things for the successful education of our beneficiaries.</p><br><br>

<h2>CTN Donates to Dwen Daama</h2>
    <p>Clothe The Naked Outreach donated items worth over GHS 7,000 to over 400 people living in a deprived rural community in Central Ghana on the 23rd of February 2019. We had another very successful Love-Machete Project on the 23rd of February 2019 at a deprived rural community in the Central Region of Ghana called Dwen</p><br><br>


  </div>


    <div id="Events" class="w3-container city" style="display:none">
    <h2>Events</h2>
    <h2>Corporate Philanthropy</h2>
    <p>Event type: Webinar <br>
Date: 20 Jan 2021 - 4:00pm to 5:00pm<br>
Venue address: WEBINAR<br>
Organisation: Philanthropy Impact<br>
Email: rachele.menditto@philanthropy-impact.org</p><br><br>

<h2>Details</h2>
    <p>Corporate philanthropy is designed to achieve a societal end while meeting the corporate goals. 

Speakers at this event will discuss how it is possible for a business to achieve meaningful growth, maximise profitability, drive innovation, and at the same time, address some of the most important societal challenges facing communities.  It will address the doing good vs. preventing harm issues and risks.

We will explore the different approaches to corporate philanthropy, the changing role of corporate social responsibility and the making of philanthropy a crucial aspect of corporate culture, impact investing, and the role of corporate foundations in driving a positive change in society — achieving the SDGs. 

During Episode 25 of Philanthropy Impact’s Walk in my shoes series, we discussed different approaches to corporate philanthropy and the role of corporate foundations.

Join us and go deeper into the topic including trends and the use of digital technology. 

Opportunities to interact with the speakers during the discussion are encouraged.

Opportunities and challenges will be also addressed such as issues around governance, decision-making, integration and alignment with the business, mutual influencing, risk, and public perception as it pertains to the role of corporate foundations.

CPD   60 minutes (1 hour) self-certified CPD points

Chair: Martin Short

Panel: Anthony Donatelli, Head of Philanthropy Services UK, UBS; Others to be confirmed.</p><br><br>


  </div>
</div>

<script>
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", ""); 
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
</script>

</body>
</html>

    {% else %}
        <h2>Register or Login if you'd like to</h2>

        <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="../static/post.js"></script>
  <style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: Gray; /* Gray*/
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: White; /* White */
    color: SlateBlue;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
  }
  .navbar-nav  li a:hover {
    color: #474e5d !important;
  }
    .panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  </style>
</head>
<body id="needify" data-spy="scroll" data-target=".navbar" data-offset="60">

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">The corporate philanthropy platform connects enterprises and their employees with the non-profits that need</h3>
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img style="width:100%;height: 70%;" src="../static/kids-akshaya.jpg" alt="carousel1">
    </div>

    <div class="item">
      <img style="width:100%;height: 70%;" src="../static/the-ugly-indian.jpg" alt="carouse2">
    </div>

    <div class="item">
      <img style="width:100%;height: 70%;" src="../static/eye.jpg" alt="carouse4">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center slideanim" id="What">
  <h3 class="margin">Videos</h3>
  <div class="row">
    <div class="col-sm-4">
    <iframe width="320" height="240" src="https://www.youtube.com/embed/vPvP7PwAzjM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-sm-4"> 
<iframe width="320" height="240" src="https://www.youtube.com/embed/wYApldelVYo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-sm-4"> 
<iframe width="320" height="240" src="https://www.youtube.com/embed/X6C7yhCmFQY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center slideanim" id="Posts">    
  <h3 class="margin">News</h3><br>
   <div class="latestinfo panel-group" id="accordion" role="tablist" aria-multiselectable="true">
   </div>
</div>

<!-- Footer -->
<footer id="contact" class="container-fluid bg-4 text-center slideanim">
<h2 class="text-center">CONTACT</h2>
     <div class="col-sm-5 col-lg-12">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Cloud Clusters, PGPCC Jun 2020 </p>
      <p><span class="glyphicon glyphicon-phone"></span> +91 0000000000</p>
      <p><span class="glyphicon glyphicon-envelope"></span> cloudclusters.greatlearning@gmail.com</p>
    </div>

  </div>
</footer>

</body>
</html>

    {% endif %}
  </div>
</div>
  
{% endblock %}